.carouselred {
  height: 400px;
  width: 800px;
}

.font1 {
  color: #09080D;
  font-family: 'Merienda One'; cursive;
}

.creditcard {
  color: #09080D;
  font-family: 'Merienda One'; cursive;
}

div div{
  background-color: #A01414;
  border: 1px solid #E5E5E5;
}
